html {
	background-color: #042530;
	background-size:cover;
    height: 100%;
    min-height: 100%;
}

body {
	background: white;
	width: 1000px;
	position: relative;
	margin:auto;
    height:100%;
	}

#exercises {
	width: 300px;
	float:left;
	margin-left:80px;
	}
	
#assignments {
	width: 300px;
	float:left;
	}

header {
	width: 800px;
	height: 250px;
	margin:auto;
	}
	
section {
	margin: 30px auto auto auto;
	width: 1000px;
	position:relative;
	}

section h1 {
    margin-top:20px;
}

li {
	font-size:16px;
	font-family: "century gothic",sans-serif;
	}

#exercises ol {
    color: #32738b;
}

#assignments li {
    list-style-type: none;
}

#assignments li:before {
    content: "•";
    color: #32738b;
    padding-right:7px;
}

h1 {
	font-size:35px;
	margin-left:97px;
	font-family: "century gothic",sans-serif;
    color: #105171;
	}
	
h2 {
	font-size:24px;
	margin-left:17px;
	font-family: "century gothic",sans-serif;
    margin-top: 0px;
    color: #aa3f7c;
	}

h3 {
	font-size:14px;
	font-family: "century gothic",sans-serif;
	}

footer {
	width:200px;	
	margin:50px auto auto 750px;
	position:absolute;
	text-align:center;
	padding-bottom:20px;
	}
	
a:link {
	text-decoration:none;
	color: #083c56;
	}
	
a:visited {
	text-decoration:none;
	color: #083c56;
	}

a:hover {
	text-decoration:none;
	color: #3f849b;
	}

a:active {
	text-decoration:none;
	color: #083c56;
	}