@charset "UTF-8";

* {
    margin:0px;
    padding:0px;
}

body {
    background-color:#c3d8da;
}

header {
    position: relative;
    margin: auto;
    width:1200px;
    text-align: center;
    top: 30px;
}
h1 {
    font-family: avenir, century gothic, sans-serif;
    color: white;
    font-size: 50px;
}

section {
    position: relative;
    width: 1200px;
    margin:auto;
    top: 50px;
}

p {
    font-family: avenir, century gothic, sans-serif;
}

.essay {
    text-align: center;
    width: 660px;
    position: relative;
    margin: auto auto 20px auto;
}

.images {
    overflow-x: hidden;
    overflow-y: scroll;
    width:520px;
    height:300px;
    float:left;
    margin-left: 50px;
    margin-bottom: 20px;
}

img {
    width:500px;
}