@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'draconian_typewriterregular';
    src: url('draconiantypewritter001-webfont.eot');
    src: url('draconiantypewritter001-webfont.eot?#iefix') format('embedded-opentype'),
         url('draconiantypewritter001-webfont.woff2') format('woff2'),
         url('draconiantypewritter001-webfont.woff') format('woff'),
         url('draconiantypewritter001-webfont.ttf') format('truetype'),
         url('draconiantypewritter001-webfont.svg#draconian_typewriterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'horrorhotel';
    src: url('fonts/horrh___-webfont.eot');
    src: url('fonts/horrh___-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/horrh___-webfont.woff2') format('woff2'), url('fonts/horrh___-webfont.woff') format('woff'), url('fonts/horrh___-webfont.ttf') format('truetype'), url('fonts/horrh___-webfont.svg#horrorhotel') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freerideregular';
    src: url('fonts/freeride-webfont.eot');
    src: url('fonts/freeride-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/freeride-webfont.woff2') format('woff2'), url('fonts/freeride-webfont.woff') format('woff'), url('fonts/freeride-webfont.ttf') format('truetype'), url('fonts/freeride-webfont.svg#freerideregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    width: 960px;
    height: 700px;
    position: relative;
    margin: auto;
}

section {
    width: 960px;
    height: 700px;
}

section#mainmenu {
    background-color: black;
    z-index: 6;
    position: absolute;
    opacity: 1;
}

section#carscene {
    background: url(images/car.jpg);
    z-index: 0;
    position: relative;
}

section#house {
    background: url(images/house.jpg);
}

section#hallway {
    background: url(images/hallway.jpg);
}

h5#overnight {
    font-family: 'horrorhotel';
    letter-spacing: .2em;
    color: white;
    z-index: 56;
    position: absolute;
    font-size: 240px;
    width: 740px;
    left: 110px;
    top: 50px;
    opacity: 0;
}

nav#menu {
    position: absolute;
    top: 300px;
    left: 290px;
}

h1.menubutton {
    color: #78301d;
    z-index: 55;
    width: 370px;
    text-align: center;
    font-size: 30px;
    opacity: 1;
    letter-spacing: 0.1em;
    font-family: 'freerideregular';
    transition: 1s;
    opacity: 0;
    margin-bottom: 5px;
}

h1.menubutton:hover {
    color: #8c4836;
    transition: 0.5s;
}

.nextbtn {
    font-family: 'freerideregular';
    z-index: 40;
    position: absolute;
    top: 300px;
    left: 900px;
    width: 50px;
    height: 50px;
}

h2#housein {
    color: white;
    font-family: 'freerideregular';
    font-size: 30px;
    z-index: 40;
    position: absolute;
    top: 250px;
    left: 800px;
    width: 100px;
    text-align: right;
    letter-spacing: 0px;
}

h2#lroomin {
    color: white;
    font-family: 'freerideregular';
    font-size: 30px;
    z-index: 40;
    position: absolute;
    top: 250px;
    left: 800px;
    width: 100px;
    text-align: right;
    letter-spacing: 0px;
}


.textbox {
    width: 750px;
    height: 120px;
    background: black;
    position: absolute;
    margin: auto;
    top: 500px;
    left:100px;
    opacity: 0;
    border-style: dashed;
    border-color: #601d1d;
    z-index: 10;
}

button.skipbtn {
    font-family: 'freerideregular';
    background: #601d1d;
    padding: 3px;
    border-style: none;
    position: absolute;
    z-index: 12;
    opacity: 0.6;
    color: white;
    top:475px;
    left:835px;
}

p {
    font-size: 30px;
    font-family: 'freerideregular';
    color: white;
    opacity: 1;
    padding: 15px;
}

footer {
    position: absolute;
    font-family: 'freerideregular';
    font-size: 20px;
    top: 640px;
    left: 369px;
}

a:link {
    text-decoration: none;
}

footer a:link {
    color: #601d1d;
    text-decoration: none;
    margin-right: 50px;
}

footer a:visited {
    color: #601d1d;
}

footer a:hover {
    color: #762727;
    text-decoration: none;
}

footer a:active {
    color: #601d1d;
}

.typed-cursor {
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}